# .env - Biến môi trường
PORT=5000
NODE_ENV=development

# Database
DB_URI=mongodb://localhost:27017/lingoswap

# JWT
JWT_SECRET=your-super-secret-key
JWT_REFRESH_SECRET=your-super-secret-refresh-key
JWT_EXPIRE=30m
JWT_REFRESH_EXPIRE=7d
# Logging
LOG_LEVEL=debug
# GG
GOOGLE_CLIENT_ID=
MY_EMAIL_ACCOUNT=
MY_EMAIL_APP_PASSWORD=
# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_URI=redis://127.0.0.1:6379
FRONTEND_URL=your-FRONTEND_URL
